<md-toolbar>
	<!-- Source: https://material.angularjs.org -->
	<div class="md-toolbar-tools">
        <md-button ng-click="vm.toggleSidebar()">
          <md-icon class="svg-ic_menu_24px"></md-icon>
        </md-button>

        <div layout="row" flex class="fill-height">
          <div class="md-toolbar-item md-breadcrumb">
            <span ng-if="menu.currentPage.name !== menu.currentSection.name">
              <span hide-sm hide-md>{{menu.currentSection.name}}</span>
              <span class="docs-menu-separator-icon" style="" hide-sm hide-md>
                <img src="img/docArrow.png" alt="" aria-hidden="true">
              </span>
            </span>
            <span class="md-breadcrumb-page" flt="| humanizeDoc">{{(menu.currentPage ) || vm.title }}</span>
          </div>

          <span flex></span> <!-- use up the empty space -->
          <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
            <div>
              <md-button ng-if1111="!menu.currentPage || menu.currentSection.name === 'Getting Started'"
                         target="_blank"
                         ng-href="{{BUILDCONFIG.repository}}/commit/{{BUILDCONFIG.commit}}" >
                  {{BUILDCONFIG.version}}  -  SHA {{BUILDCONFIG.commit.substring(0,7)}}
              </md-button>
            </div>
            <div ng-repeat="doc in currentComponent.docs">
              <md-button ng-href="#{{doc.url}}"
                ng-class="{hide: path().indexOf('demo') == -1}"
                aria-label="{{ doc }}" flt ="| humanizeDoc | directiveBrackets">
                {{doc }}
              </md-button>
            </div>
            <md-button ng-class="{hide: !currentDoc || !currentDoc.hasDemo}"
              ng-href="#/demo/{{currentComponent.name}}"
              style="position: relative; padding-left: 30px; margin-right: 15px;">
              <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg" style="
                  height: 36px;
                  position: absolute;
                  left: 0px;
                  top: -3px;
                  margin-top: 0;"></md-icon>
              <span>View Demo</span>
            </md-button>

            <md-button ng-class="{hide: !currentDoc}"
              ng-href="{{currentDoc.githubUrl}}"
              hide-sm hide-md
              style="position: relative; padding-left: 30px; margin-right: 15px;">
              <md-icon md-svg-src="img/icons/ic_launch_24px.svg" style="
                  height: 36px;
                  position: absolute;
                  left: 0px;
                  top: -3px;
                  margin-top: 0;"></md-icon>
              <span>View on Github</span>
            </md-button>
          </div>
        </div>
      </div>
</md-toolbar>
